@model TapMarket.Models.Listing.ListingDetailFormModel

@{
    var listing = ViewBag.Listing;
    var isFavorite = ViewBag.IsFavorite;
    var user = ViewBag.User;
    var currentUserId = ViewBag.CurrentUserId;
}

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="card">
                <div class="row">
                    <div class="col-sm-auto">
                        <img class="card-img" src="@listing.ImageUrl">
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-8">
                                        <p class="card-text"><small class="text-muted">Published on @listing.CreatedOn </small> </p>
                                    </div>
                                    <div class="col-4">
                                        @if (isFavorite)
                                        {
                                            <input asp-for="Command" class="btn btn-sm btn-block btn-warning" type="submit" value="Remove from favorites" onclick="return favorites(this);" />
                                        }
                                        else
                                        {
                                            <input asp-for="Command" class="btn btn-sm btn-block btn-warning" type="submit" value="Add to favorites" onclick="return favorites(this);" />
                                        }

                                        <input type="hidden" asp-for="ListingId" value="@listing.Id" />
                                        <input type="hidden" asp-for="UserId" value="@currentUserId" />

                                        <script type="text/javascript">
                                            function favorites(el) {
                                                if (el.value === "Add to favorites") {
                                                    el.value = "Remove from favorites";
                                                }
                                                else {
                                                    el.value = "Add to favorites";
                                                }
                                            }
                                        </script>

                                    </div>
                                </div>
                            </form>
                            <h1 class="card-title"> @listing.Title </h1>
                            <h3 class="card-title"> <b>$@listing.Price</b></h3>

                            <h3>
                                @switch (listing.Condition)
                                {
                                    case "New":
                                        <a href="#" class="badge badge-success"> @listing.Condition condition </a>
                                        break;
                                    case "Good":
                                        <a href="#" class="badge badge-primary"> @listing.Condition condition </a>
                                        break;
                                    case "Used":
                                        <a href="#" class="badge badge-warning"> @listing.Condition condition </a>
                                        break;
                                    case "Bad":
                                        <a href="#" class="badge badge-danger"> @listing.Condition condition </a>
                                        break;
                                    case "None":
                                        <a href="#" class="badge badge-light"> @listing.Condition condition </a>
                                        break;
                                }

                                <a href="#" class="badge badge-dark">  @listing.Category </a>
                            </h3>

                            <h3 class="card-title"> Description</h3>
                            <p class="card-text">@listing.Description</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h3>@user.Username</h3>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <h6>@user.Email</h6>
                            </center>
                        </div>
                    </div>

                    <div>
                        <center>
                            <label> 📍 @user.Address, @user.City </label>
                        </center>
                    </div>

                    <div class="row">
                        <div style="margin-bottom:15px" class="col">
                            <center>
                                <img class="card" src="@user.PictureUrl" width="200" height="200" />
                            </center>
                        </div>
                    </div>

                    @if (this.User.Identity.Name != user.Email)
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="btn btn-lg btn-block btn-success" type="button" value="Call" onclick="return change(this);" />

                                <input class="btn btn-lg btn-block btn-info" type="button" value="Message" />

                                <script type="text/javascript">
                                function change(el)
                                {
                                    if (el.value === "Call")
                                        el.value = "0" + @user.PhoneNumber;
                                    else
                                        el.value = "Call";
                                }
                                </script>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (this.User.Identity.Name != user.Email)
        {
            <div class="col-md-8" style="margin-top:15px">
                <div class="card">
                    <div class="row">
                        <div class=" col-sm-12">
                            <form method="post">
                                <div class="card-body form-group">
                                    <img style="float:left" class="card" src="@user.PictureUrl" width="50" />

                                    <h2 style="margin-left:60px" class="card-title">Message @user.Username:</h2>

                                    <div class="input-group mb-3">
                                        <textarea asp-for="Message" style="margin-top:10px;resize:none" class="form-control" placeholder="Hello, can you send me this item to..."></textarea>
                                        <span asp-validation-for="Message" class="small text-danger"></span>

                                        <input type="hidden" asp-for="ReceiverId" value="@user.Id" />
                                        <input type="hidden" asp-for="UserId" value="@currentUserId" />

                                        <button style="margin-top:10px" type="submit" class="btn btn-info"> Send </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
