@{ 
    var listing = ViewBag.Listing;
    var customer = ViewBag.Customer;
}

<div class="container">
    <div class="row">
        <div class="card offset-md-2 col-md-8 col-sm-12">
            <img class="card-img" style="margin-top:15px" src="@listing.ImageUrl">
            <div class="card-body">
                <p class="card-text"><small class="text-muted">Published on @listing.CreatedOn</small></p>
                <h1 class="card-title"> @listing.Title </h1>
                <h3 class="card-title"> <b>$@listing.Price</b></h3>
                <p class="card-text"><small class="text-muted"> @listing.Condition condition, @listing.Category</small></p>
                <h3 class="card-title"> Description</h3>
                <p class="card-text">@listing.Description</p>
            </div>
        </div>
    </div>
</div>