@using Microsoft.AspNetCore.Identity
@using TapMarket.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model TapMarket.Models.Customer.ProfileViewModel

@{
    var customer = ViewBag.Customer;
    var listings = ViewBag.Listings;
}


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h1>@customer.FirstName @customer.LastName</h1>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <h6>@User.Identity.Name</h6>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <img src="@customer.PictureUrl" class="card-img-top" style="height: 12rem;width:15rem" />
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div>

                            <div class="col-md-12">
                                <label> <b> Address </b> </label>
                                <div class="form-group">
                                    <asp:TextBox> @customer.Address, @customer.City </asp:TextBox>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label> <b>Phone Number</b></label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <asp:TextBox> @customer.PhoneNumber </asp:TextBox>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn btn-lg btn-block btn-warning">Manage account</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <a asp-controller="Home" asp-action="Index"><< Back to Home</a><br>
                <br>

            </div>

            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4> <b> My Listings </b></h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                @foreach (var listing in listings)
                                {
                                    <div class="card" style="max-width: 580px;margin-bottom:10px">
                                        <div class="row no-gutters" style="width: 50rem;height: 8rem">
                                            <div class="col-md-3">
                                                <img src="@listing.ImageUrl" class="card-img-top" style="height: 8rem">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="margin-bottom:2px;width: 21rem">@listing.Title - <b>$@listing.Price</b></h5>
                                                    <div style="margin-top:10px">
                                                        <a href="/Listing/Details?listingId=@listing.Id" class="btn btn-info">View</a>
                                                        <a href="/Listing/Edit?listingId=@listing.Id" class="btn btn-warning">Edit</a>
                                                        <a href="/Listing/Delete?listingId=@listing.Id" class="btn btn-danger"
                                                           onclick="return confirm('Are you sure you want to delete this listing?')"> Delete </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>